{% extends "base.html" %}
{% load build_form %}
{% block title %}: {{ page_header }}{% endblock %}

{%block sidebar%}
{%endblock%}

{% block main-content %}
    <div class="page-header"><h1>{{ page_header }}</h1></div>
  
    <div class="row-fluid">
        <div class="span5 well"><b>Note</b>: Call the Help Desk for problems with production systems.</div>
    </div>

    <form method="post" action=".">
        {% csrf_token %}
        {% build_form form %}
        <input type="submit" value="Save" data-role="button" />
    </form>

    <script language="JavaScript">
        var qs = Helpers.getQueryString();
        if (qs && qs.service) {
            var service = qs.service.replace("%20"," ");
            $('#id_subject').val(service);
        }
    </script>

{% endblock %}
