<script type="text/javascript" src="{{STATIC_URL}}timeline/timeline.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jquery.ba-bbq.min.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}datatables.net/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}datatables.net/js/dataTables.TableTools.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}datatables.net/js/dataTables.ZeroClipboard.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/incident-support.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-parsers.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-builder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-handler.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-buttons.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-widgets.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-iatools.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/layer-geocoder.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/settings-manager.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/smts-parser.js"></script>

<script type="text/javascript" src="{{STATIC_URL}}js/jsmaptools.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}js/jsshapeviewer.js"></script>
