 {% extends "./base.html" %}
 {% load tz %}
 {% load url from future %}

 {% block title %}: Event Archives{% endblock %}
 {%block main-content%}
 <ul class="breadcrumb">
  <li class="active"><a href="{%url 'operations-view-incident-archive' %}">Archives</a><span class="divider">/</span></li>
  </ul>
 
  <div class="page-header"><h1>Latest Events</h1></div>
  
  <div class="archive-years">
    <ul class="nav nav-pills">
    {%for d in date_list%}
    <li><a href="{% url 'operations-view-incident-archive-year' d.year %}">{{d|utc|date:"Y"}}</a></li>
    {%endfor%}
    </ul>
  </div>
  
 {%include "incident-archive-incident-table.html"%}
              
 {% include "generic_paginator.html" %}
 
 {%endblock%}
