 {% extends "./base.html" %}
 {% load markup %}
 {% load url from future %}

 {% block title %}: SitRep #{{ item.id }} {% endblock %}
 {%block main-content%}

 

   <div class="span9">
        <!--Header-->
        <div class="row-fluid">
            <div class="page-header">
                <h1> {{item.name|truncatechars:60}}</h1>
            </div>
        </div>

       <!--Content-->
           <div class="row-fluid">
                   {{ item.content|markdown }}
               </div>
   </div>

   <div class="span3">
       <!--About-->
       <div class="row-fluid">
           <h3 class="landing-page-header" style="margin-top: 16px;"><i class="icon icon-info-sign"></i>About
               {%if perms.operations.change_sitrep%}
               <span class="header-actions pull-right">
                    <a class="btn  btn-mini" href="{%url 'operations-manage-sitrep-pk' item.pk %}">Edit</a>
               </span>
               {%endif%}
           </h3>
       </div>

       <div class="row-fluid">
           <div>
               <strong>Created:</strong> {{item.created}}
               <br/><strong>Published By:</strong> {{item.owner}}
               <br/><br/><img src="{{SITE_BRANDING_LOGO}}"/>
           </div>

       </div>
   </div>

{#              <tbody>#}
{#				 #}
{# #}
{#                <tr>#}
{#                  <td> #}
{#                  <b>Name: </b>{{item.name}}<br/>#}
{#                  <b>Date Created:</b> {{item.created}}<br/>#}
{#                  <b>Created By:</b> {{ item.owner }}<br/>#}
{#                  <b>Content:</b>{{item.content|markdown}}</td>#}
{#                </tr>#}
{##}
{#                #}
{#              </tbody>#}
{#      </table>#}
{#      <br/>#}
{##}
{#     {%if perms.operations.change_sitrep%}<a href="{{item.get_update_url}}" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Edit</a> {% endif %} {%if perms.operations.delete_sitrep%}<a href="{{item.get_delete_url}}" class="btn btn-danger"><i class="icon-trash icon-white"></i> Delete</a>{% endif %}#}

 {%endblock%}
