#classified-top {
    border:0;
    display: table;
    font-size: 15px;
    height: 10px;
    left:0;
    right:0;
    text-align: center;
    margin:0;
    z-index: 1031;
    width: 100%;
}

.classification-text{
    display: table-cell;
    vertical-align: middle;
}